{{ $title := .Get "title" | default "" }}
{{ $titleColor := .Get "titleColor" | default "text-dark" }}
{{ $icon := .Get "icon" | default "fa-lightbulb" }}
{{ $iconBackground := .Get "iconBackground" | default "secondary" }}
{{ $url := .Get "url" }}
{{ $cardType := .Get "cardType" | default "card-header"}}
<div class="card text-center shadow">
  {{- if $url -}}<a href="{{ $url }}" class="card-link stretched-link" title="{{ $title }}">{{- end -}}
  <div class="{{ $cardType }}">
    <div class="d-flex justify-content-center">
      <span class="fa-stack fa-3x m-2" title="{{ $title }}">
        <i class="fas fa-circle fa-stack-2x text-{{ $iconBackground }}"></i>
        <i class="fas {{ $icon }} fa-stack-1x fa-inverse"></i>
        <span class="sr-only">{{ $title }}</span>
      </span>
    </div>
  </div>
  <div class="card-body">
    <h3 class="card-title {{ $titleColor }}">{{ $title }}</h3>
    <p class="card-text text-break text-dark">{{ trim .Inner "\n" }}</p>
  </div>
  {{- if $url -}}</a>{{- end -}}
</div>