/*

Add styles or override variables from the theme here.

*/
$google_font_name: "Roboto";

// $primary: #E58F16 !default;
$primary: #343A40 !default;
$secondary: #FFC107 !default;
$dark: #343a40 !default;
