{{ define "main" }}
<main class="container">
  <article>
    <header>
      <h1 class="display-3">{{.Title}}</h1>
    </header>
    {{.Content}}
  </article>
  {{ range .Pages }}
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <span class="fa-stack fa-3x m-2" title="{{ .Title }}">
          <i class="fas fa-circle fa-stack-2x text-warning"></i>
          <i class="fas {{ .Params.pre }} fa-stack-1x fa-inverse"></i>
          <span class="sr-only">{{ .Title }}</span>
        </span>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{.Title}}</h5>
          <p class="card-text">{{.Params.subtitle}}</p>
          <p class="card-text"><small class="text-muted"><a href="{{.Permalink}}">Read more...</a></small></p>
        </div>
      </div>
    </div>
  </div>
  {{ end }}
</main>
{{ end }}
