{{ define "main" }}
<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-2">
      {{ range (where .Site.RegularPages.ByWeight "Type" "feature") }}
      <div class="card mb-3 border-0">
        <div class="d-flex justify-content-center">
          <span class="fa-stack fa-2x m-2" title="{{.Title}}">
            <i class="fas fa-circle fa-stack-2x text-warning"></i>
            <i class="fas {{.Params.pre}} fa-stack-1x fa-inverse"></i>
            <span class="sr-only">{{.Title}}</span>
          </span>
        </div>
        <a href="{{.Permalink}}" class="card-title text-center" style="color: #ffae1a">{{.Title}}</a href="{{.Permalink}}">
      </div>
      {{ end }}
    </div>
    <div class="col-8">
      {{ .Content }}
    </div>
    <div class="col-2">
      <h6>In This Article</h6>
      {{ .TableOfContents }}
    </div>
  </div>
</div>
{{ end }}
