+++
title = "Home"
linkTitle = "Home"
+++

{{< blocks/section color="dark"  type="section" >}}
<h1 class="display-1">The Lingua Pupuli Project</h1>
<hr class="w-100 border border-light mt-2 mb-3"/>
<div class="alert alert-light bg-dark" role="alert">
  <h4 class="alert-heading">Language of the Puppet</h4>
  lingua (<i>nominative</i>) : Language<br/>
  pūpulī (<i>genitive singular</i>) : Puppet
</div>
When we first started to create the Puppet VS Code extension everything could be contained in a single git repository. However as time went on, it became apparent that we had out-grown a single repository, and so, we created the Lingua Pupuli project.<br/>
<br/>
This project is an umbrella for a community of tools; Tools to help make using, and writing, Puppet faster and easier. It is composed of three projects; VS Code Extension, Editor Services and Editor Syntax.<br/>
<br/>
{{% /blocks/section %}}

<section id="pageContent">
  <div class="container">
    <div class="card-deck">
      <div class="card border-primary">
        <a href="https://puppet-vscode.github.io" class="card-link stretched-link" title="Puppet VS Code Extension">
        <img src="{{< static "img/vscode_logo.png" >}}" class="card-img-top" draggable="false" style="padding: 10px;" alt="Puppet VS Code Extension logo" />
        <div class="card-body text-dark">
          <h5 class="card-title">Puppet VS Code Extension</h5>
          <p class="card-text">
            The premiere Puppet Editing Experience.
          </p>
        </div>
        </a>
      </div>

      <div class="card border-primary">
        <a href="editor-services/" class="card-link stretched-link" title="Puppet Editor Services">
        <img src="{{< static "img/editor_services_logo.png" >}}" class="card-img-top" draggable="false" style="padding: 10px;" alt="Puppet VS Code Extension logo" />
        <div class="card-body text-dark">
          <h5 class="card-title">Puppet Editor Services</h5>
          <p class="card-text">
            Cross platform, Open Source, Multi Editor support for the Language and Debug Server protocols.
          </p>
        </div>
        </a>
      </div>

      <div class="card border-primary">
        <a href="editor-syntax/" class="card-link stretched-link" title="Puppet Editor Syntax">
        <img src="{{< static "img/editor_syntax_logo.png" >}}" class="card-img-top" draggable="false" style="padding: 10px;" alt="Puppet VS Code Extension logo" />
        <div class="card-body text-dark">
          <h5 class="card-title">Puppet Syntax Highlighter</h5>
          <p class="card-text">
            Textmate Highligher for the Puppet Language, for whatever editor you use!
          </p>
        </div>
        </a>
      </div>
    </div>
  </div>
</section>


{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa fa-book" title="Modus Operandi" url="https://github.com/lingua-pupuli/modus-operandi" %}}
How Lingua Pupuli operates.
{{% /blocks/feature %}}

{{% blocks/feature icon="fa fa-tasks" title="Work in Progress" url="https://github.com/orgs/lingua-pupuli/projects" %}}
We use [Github Projects](https://github.com/orgs/lingua-pupuli/projects) to track our work.
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-github" title="GitHub Organization" url="https://github.com/lingua-pupuli" %}}
The Lingua Pupuli [GitHub Organization](https://github.com/lingua-pupuli).
{{% /blocks/feature %}}

{{< /blocks/section >}}
