<h1 class="display-5 text-center">{{.title}}</h1>
<div class="card-deck mt-3 mb-5">
  {{ range .features }}
  <div class="card text-center">
    <div class="d-flex justify-content-center">
      <span class="fa-stack fa-3x m-2" title="Intellisense">
        <i class="fas fa-circle fa-stack-2x text-warning"></i>
        <i class="fas {{ .fa_icon }} fa-stack-1x fa-inverse"></i>
        <span class="sr-only">{{.title}}</span>
      </span>
    </div>
    <div class="card-body">
      <h5 class="card-title" style="color: #ffae1a">{{.title}}</h5>
      <p class="card-text">{{.description}}</p>
    </div>
    {{ if .link }}
    <div class="card-footer bg-transparent border-top-0">
      <a href="{{.link}}" class="btn btn-secondary stretched-link">More ...</a>
    </div>
    {{ end }}
  </div>
  {{ end }}
</div>
