<footer class="bg-dark mt-5">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
        <ul class="list-unstyled list-inline social text-center">
          <li class="list-inline-item"><a href="{{ $.Site.Params.extensionURL }}"><i class="text-warning fa fa-2x m-2 fa-project-diagram"></i></a></li>
          <li class="list-inline-item"><a href="{{ $.Site.Params.github }}"><i class="text-warning fab fa-2x m-2 fa-github"></i></a></li>
          <li class="list-inline-item"><a href="{{ $.Site.Params.twitter }}"><i class="text-warning fab fa-2x m-2 fa-twitter"></i></a></li>
          <li class="list-inline-item"><a href="{{ $.Site.Params.slack }}"><i class="text-warning fab fa-2x m-2 fa-slack"></i></a></li>
          <li class="list-inline-item"><a href="{{ $.Site.Params.youtube }}"><i class="text-warning fab fa-2x m-2 fa-youtube"></i></a></li>
          <li class="list-inline-item"><a href="javascript:void();" target="_blank"><i class="text-warning fa fa-2x m-2 fa-envelope"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="row">
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white mb-5">
        <p class=""><i class="fa fa-code" ></i> with <i class="fa fa-heart text-danger"></i> by Puppet </p>
      </div>
    </div>
  </div>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
