/*

Add styles or override variables from the theme here.

*/
$google_font_name: "Roboto";

$primary: #222222 !default;
$secondary: #FED05B !default;
$success: #488AF5 !default;
$info: #FC432A !default;

// Puppet Green
// #4DDDA8
// #1BD367
// #18816C

// Puppet Blue
// #7F9EFD
// #488AF5
// #2D66FF

// Puppet Red
// #FB8B7F
// #FC432A
// #C82305

// Puppet Yellow
// #FED05B
// #FD9E17
// #191919
