{{ define "main" }}
<div class="jumbotron jumbotron-fluid p-4 p-md-5 bg-dark text-white">
  <div class="row">
    <div class="col-md-4">
      <h1 class="text-warning">Puppet editing. <strong>Redefined.</strong></h1>
      <div class="lead">
        <p>
          <span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
            <span itemprop="description">Free</span>.
            <meta itemprop="price" content="0" />
            <meta itemprop="priceCurrency" content="USD" />
          </span> Built on open source. Runs everywhere.</p>
          <div class="table">
            <!-- marketplace links -->
            <tr>
              <td><a class="" href="https://marketplace.visualstudio.com/items?itemName=jpogran.puppet-vscode" target="_blank"><img src="https://vsmarketplacebadge.apphb.com/version-short/jpogran.puppet-vscode.svg?colorA=222222&amp;colorB=FFAE1A" alt="marketplace" /> </a></td>
              <td><a class="" href="https://marketplace.visualstudio.com/items?itemName=jpogran.puppet-vscode" target="_blank"><img src="https://vsmarketplacebadge.apphb.com/installs-short/jpogran.puppet-vscode.svg?colorA=222222&amp;colorB=FFAE1A" alt="installs" /> </a></td>
              <td><a class="" href="https://marketplace.visualstudio.com/items?itemName=jpogran.puppet-vscode" target="_blank"><img src="https://vsmarketplacebadge.apphb.com/downloads-short/jpogran.puppet-vscode.svg?colorA=222222&amp;colorB=FFAE1A" alt="downloads" /> </a></td>
            </tr>
          </div>
        <div class="btn-group text-justify-center">
          <a href="#" class="btn btn-lg btn-outline-warning">Features</a>
          <a href="vscode:extension/jpogran.puppet-vscode" class="btn btn-lg btn-warning">Install</a>
          <a href="#" class="btn btn-lg btn-outline-warning">Docs</a>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <img src="{{ "img/auto_complete.gif" | absURL }}" class="img-thumbnail mt-3">
    </div>
  </div>
</div>

<div class="container">

  <!-- card deck -->
  <div class="row">
    <div class="col">
      <h1 class="display-5 text-center">Everything You'd Expect</h1>
      <div class="card-deck mt-3 mb-5">
        <div class="card">
          <div class="d-flex justify-content-center">
            <span class="fa-stack fa-3x m-2" title="Intellisense">
              <i class="fas fa-circle fa-stack-2x text-warning"></i>
              <i class="fas fa-magic fa-stack-1x fa-inverse"></i>
              <span class="sr-only">Intellisense</span>
            </span>
          </div>
          <div class="card-body">
            <h5 class="card-title text-center" style="color: #ffae1a">Intellisense</h5>
            <p class="card-text text-center">Live intellisense of the Puppet Custom Types, Functions, Classes and
              Defined Types</p>
          </div>
        </div>
        <div class="card">
          <div class="d-flex justify-content-center">
            <span class="fa-stack fa-3x m-2" title="Code Navigation">
              <i class="fas fa-circle fa-stack-2x text-warning"></i>
              <i class="fas fa-road fa-stack-1x fa-inverse"></i>
              <span class="sr-only">Code Navigation</span>
            </span>
          </div>
          <div class="card-body">
            <h5 class="card-title text-center" style="color: #ffae1a">Code Navigation</h5>
            <p class="card-text text-center">The power of an IDE and the speed of a text editor</p>
          </div>
        </div>
        <div class="card">
          <div class="d-flex justify-content-center">
            <span class="fa-stack fa-3x m-2" title="Linting">
              <i class="fas fa-circle fa-stack-2x text-warning"></i>
              <i class="fas fa-flask fa-stack-1x fa-inverse"></i>
              <span class="sr-only">Linting</span>
            </span>
          </div>
          <div class="card-body">
            <h5 class="card-title text-center" style="color: #ffae1a">Linting</h5>
            <p class="card-text text-center">As you type puppet-lint checking integrated into the Problems Pane</p>
          </div>
        </div>
      </div>
      <h1 class="display-5 text-center">Modern Development Tools</h1>
      <div class="card-deck mt-3 mb-5">
        <div class="card">
          <div class="d-flex justify-content-center">
            <span class="fa-stack fa-3x m-2" title="Puppet Commands">
              <i class="fas fa-circle fa-stack-2x text-warning"></i>
              <i class="fas fa-project-diagram fa-stack-1x fa-inverse"></i>
              <span class="sr-only">Puppet Commands</span>
            </span>
          </div>
          <div class="card-body">
            <h5 class="card-title text-center" style="color: #FFAE1A">Puppet Commands</h5>
            <p class="card-text text-center">Use Puppet commands from within VSCode</p>
          </div>
        </div>
        <div class="card">
          <div class="d-flex justify-content-center">
            <span class="fa-stack fa-3x m-2" title="Puppet Development Kit">
              <i class="fas fa-circle fa-stack-2x text-warning"></i>
              <i class="fas fa-code fa-stack-1x fa-inverse"></i>
              <span class="sr-only">Puppet Development Kit</span>
            </span>
          </div>
          <div class="card-body">
            <h5 class="card-title text-center" style="color: #ffae1a">Puppet Development Kit</h5>
            <p class="card-text text-center">Built in PDK commands</p>
          </div>
        </div>
        <div class="card">
          <div class="d-flex justify-content-center">
            <span class="fa-stack fa-3x m-2" title="Remote Development">
              <i class="fas fa-circle fa-stack-2x text-warning"></i>
              <i class="fas fa-broadcast-tower fa-stack-1x fa-inverse"></i>
              <span class="sr-only">Remote Development</span>
            </span>
          </div>
          <div class="card-body">
            <h5 class="card-title text-center" style="color: #ffae1a">Remote Development</h5>
            <p class="card-text text-center">Develop in Docker, WSL, or SSH</p>
          </div>
        </div>
      </div>
      <h1 class="display-5 text-center">Advanced Features</h1>
      <div class="card-deck mt-3 mb-5">
        <div class="card">
          <div class="d-flex justify-content-center">
            <span class="fa-stack fa-3x m-2" title="Debugging Puppet Code">
              <i class="fas fa-circle fa-stack-2x text-warning"></i>
              <i class="fas fa-bug fa-stack-1x fa-inverse"></i>
              <span class="sr-only">Debugging Puppet Code</span>
            </span>
          </div>
          <div class="card-body">
            <h5 class="card-title text-center" style="color: #ffae1a">Debugging Puppet Code</h5>
            <p class="card-text text-center">Debug code right from the editor. Launch or attach to your running apps and
              debug with break points, call stacks, and an interactive console.</p>
          </div>
        </div>
        <div class="card">
          <div class="d-flex justify-content-center">
            <span class="fa-stack fa-3x m-2" title="Control Repo">
              <i class="fas fa-circle fa-stack-2x text-warning"></i>
              <i class="fas fa-toolbox fa-stack-1x fa-inverse"></i>
              <span class="sr-only">Control Repo</span>
            </span>
          </div>
          <div class="card-body">
            <h5 class="card-title text-center" style="color: #ffae1a">Control Repo</h5>
            <p class="card-text text-center">Live intellisense of the Puppet Custom Types, Functions, Classes and
              Defined Types all from inside a control repo</p>
          </div>
        </div>
        <div class="card">
          <div class="d-flex justify-content-center">
            <span class="fa-stack fa-3x m-2" title="Puppet Bolt">
              <i class="fas fa-circle fa-stack-2x text-warning"></i>
              <i class="fas fa-bolt fa-stack-1x fa-inverse"></i>
              <span class="sr-only">Puppet Bolt</span>
            </span>
          </div>
          <div class="card-body">
            <h5 class="card-title text-center" style="color: #ffae1a">Puppet Bolt</h5>
            <p class="card-text text-center">Open source automation, in the editor.</p>
          </div>
        </div>
      </div>
      <h1 class="display-5 text-center">Multiple Editor Support</h1>
      <div class="card-deck">
        <div class="card">
          <div class="d-flex justify-content-center">
            <span class="fa-stack fa-3x m-2" title="vim">
              <i class="fas fa-circle fa-stack-2x text-warning"></i>
              <i class="fas fa-pencil-alt fa-stack-1x fa-inverse"></i>
              <span class="sr-only">vim</span>
            </span>
          </div>
          <div class="card-body">
            <h5 class="card-title text-center" style="color: #ffae1a">vim</h5>
            <p class="card-text text-center">Benefit from the some of the same features of VSCode inside vim</p>
          </div>
        </div>
        <div class="card">
          <div class="d-flex justify-content-center">
            <span class="fa-stack fa-3x m-2" title="Atom">
              <i class="fas fa-circle fa-stack-2x text-warning"></i>
              <i class="fas fa-atom fa-stack-1x fa-inverse"></i>
              <span class="sr-only">Atom</span>
            </span>
          </div>
          <div class="card-body">
            <h5 class="card-title text-center" style="color: #ffae1a">Atom</h5>
            <p class="card-text text-center">Benefit from the some of the same features of VSCode inside Atom</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
{{ end }}
