{{ define "main" }}
<div class="jumbotron jumbotron-fluid p-4 p-md-5 bg-dark text-white">
  <div class="row">
    <div class="col-md-4">
      <h1 class="text-warning">Puppet editing. <strong>Redefined.</strong></h1>
      <div class="lead">
        <p>
          <span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
            <span itemprop="description">Free</span>.
            <meta itemprop="price" content="0" />
            <meta itemprop="priceCurrency" content="USD" />
          </span> Built on open source. Runs everywhere.</p>
          <div class="table">
            <!-- marketplace links -->
            <tr>
              <td><a class="" href="https://marketplace.visualstudio.com/items?itemName=jpogran.puppet-vscode" target="_blank"><img src="https://vsmarketplacebadge.apphb.com/version-short/jpogran.puppet-vscode.svg?colorA=222222&amp;colorB=FFAE1A" alt="marketplace" /> </a></td>
              <td><a class="" href="https://marketplace.visualstudio.com/items?itemName=jpogran.puppet-vscode" target="_blank"><img src="https://vsmarketplacebadge.apphb.com/installs-short/jpogran.puppet-vscode.svg?colorA=222222&amp;colorB=FFAE1A" alt="installs" /> </a></td>
              <td><a class="" href="https://marketplace.visualstudio.com/items?itemName=jpogran.puppet-vscode" target="_blank"><img src="https://vsmarketplacebadge.apphb.com/downloads-short/jpogran.puppet-vscode.svg?colorA=222222&amp;colorB=FFAE1A" alt="downloads" /> </a></td>
            </tr>
          </div>
        <div class="btn-group">
          <!-- <a href="#" class="btn btn-lg btn-outline-warning">Features</a> -->
          <a href="vscode:extension/jpogran.puppet-vscode" class="btn btn-lg btn-warning">Install</a>
          <!-- <a href="#" class="btn btn-lg btn-outline-warning">Docs</a> -->
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <img src="{{ "img/auto_complete.gif" | absURL }}" class="img-thumbnail mt-3">
    </div>
  </div>
</div>

<div class="container">
  <!-- card deck -->
  <div class="row">
    <div class="col">
{{ range .Site.Data.features.groups }}
   {{ partial "feature_group.html" . }}
{{ end }}
    </div>
  </div>
</div>
{{ end }}
